{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-6">
        <h1>PLECA.SLASH</h1>
        <p>
            pleca punto pleca punto slash punto pleca
        </p>
    </div>

    <div class="col-6">
        <img src="assests/img/Star-Guardian-Syndra.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}